{{!textarea value=userData placeholder="JSON" cols=75 rows=5}}
<!--<section>-->
  <!--<button {{!action 'loadUsers'}}>Load {{!model.name}} Users</button>-->
<!--</section>-->

<div class="row">
  <div class="col-lg-6">
    <h1>{{model.name}}</h1>
  </div>

  <div class="col-lg-6">
    <div class="btn-group btn-group-justified" style="padding-top: 4%;">
      <a {{action 'startSlowRace'}} class="btn btn-primary btn-block">Start Slow Race</a>
      <a {{action 'startFastRace'}} class="btn btn-success btn-block">Start Fast Race</a>
      <a {{action 'resetRace'}} class="btn btn-danger btn-block">Reset Race</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    {{raceFinished}}
    {{user-list content=model.users}}
  </div>
</div>
